<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        {% load static %}
        <link rel="stylesheet" href="{% static 'app/css/style.css' %}"/>
        <link rel="stylesheet" href="{% static 'app/css/intereses.css' %}" />
		<link rel="stylesheet" href="{% static 'app/css/contacto.css' %}"/>
		<link rel="stylesheet" href="{% static 'app/css/galeria.css' %}"/>
		<script src="https://kit.fontawesome.com/03cc31a8e7.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
		<script src="{% static 'app/js/app.js' %}"></script>
        <link rel="icon" href="{% static 'app/img/avion.ico' %}">
		<title>WolfKer Blog.</title>
	</head>
	<body>
		<header>
			<nav class="menu">
				<div class="logo-box">
					<h1><a href="{% url 'home' %}">WolfKer Blog.</a></h1>
					<span class="btn-menu"><i class="fas fa-bars"></i></span>
				</div>
				<div class="list-container">
					<ul class="lists">
						<li><a href="{% url 'home' %}">Inicio</a></li>
						<li><a href="{% url 'galeria' %}">Intereses</a></li>
						<li><a href="{% url 'gal' %}">Galeria</a></li>
						<li><a href="{% url 'contacto' %}">Contacto</a></li>
					</ul>
				</div>
			</nav>
        </header>
        <section class="main">
            {% block contenido %}
			{% endblock %}
			{% block contenido3 %}
			{% endblock %}
			{% block contenido4 %}
			{% endblock %}
		<footer class="footer">
			{% block contenido2 %}
			{% endblock %}
	</body>
</html>